.modal-form {
  background-color: #fff;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 9;
}

.modal-form-action {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-top: 40px;
  .modal-form-link {
    cursor: pointer;
    font-size: 18px;
    font-family: $base-font-bold;
  }
}

.modal-form-input {
  height: 60px;
  padding: 15px;
  border: 1px solid #000;
  width: 100%;
}

.modal-form-group {
  margin-bottom: 20px;
}

.modal-form-content {
  max-width: 460px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .button {
    max-width: 100%;
    margin-top: 0;
  }
}

.modal-form-header {
  font-size: 30px;
  font-family: $base-font-bold;
}

.modal-form-label {
  display: block;
  font-size: 18px;
  font-family: $base-font-family;
}

.modal-confirm {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 25;
  transition: opacity 0.15s linear;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: rgba(16, 16, 16, 0.5);
}

.modal-confirm-content {
  width: 500px;
  background: #fff;
  margin: 15% auto 0;
  border-radius: 4px;
  border: 1px solid rgba(16, 16, 16, 0.2);
  flex-direction: column;
}

.modal-form-header {
  font-family: $base-font-bold;
  font-size: 30px;
  letter-spacing: 0.09em;
}

.modal-confirm-close {
  padding: 6px 15px;
}

.modal-confirm-button {
  font-size: 16px !important;
  width: auto !important;
  padding: 6px 9px !important;
  border-radius: 4px !important;
  margin: 0;
  font-family: $base-font-bold;
  letter-spacing: 0.1em !important;
  &:not(:last-of-type) {
    margin-right: 8px;
  }
}

.modal-confirm-text {
  background: #f5f5f5;
  padding: 35px 15px;
  font-size: 18px;
}

.modal-form-errors {
  padding: 22px 0;
  list-style: none;
}

.modal-form-message {
  border: 1px solid transparent;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

.modal-form-error {
  border-color: #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
}

.modal-form-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}