@font-face {
  font-family: MontserratRegular;
  src: url('~assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: MontserratBold;
  src: url('~assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: MontserratItalic;
  src: url('~assets/fonts/Montserrat-Italic.ttf');
}

@font-face {
  font-family: YuGothicBold;
  src: url('~assets/fonts/YuGothic-Bold.ttf');
}

@font-face {
  font-family: YuGothic;
  src: url('~assets/fonts/YuGothic.ttf');
}

@font-face {
  font-family: Meiryo;
  src: url('~assets/fonts/Meiryo.ttf');
}

@font-face {
  font-family: MeiryoBold;
  src: url('~assets/fonts/Meiryo-Bold.ttf');
}